body{
    background-image: url('../img/milkyway.jpeg');
    background-size: inherit;
    background-position: center;
    color: yellow;
    font-family: monospace;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: center;
}
#new-item-form{
    display: grid;
    justify-content: center;
}
#line1-container{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
#category, #genre{
    background-color: transparent;
    border: 4px solid yellow;
    border-radius: 5px;
    color: yellow;
    font-size: 20px;
}
#title-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px;
}
#title{
    width: 400px;
    margin-left: 5px;
    background-color: transparent;
    border: 4px solid yellow;
    border-radius: 5px;
    color: yellow;
    font-size: 20px;
}
.radio-items{
    margin: 5px;
}
.check-boxes{
    margin: 5px;
}
.range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
#score{
    width: 350px;
}
#button-container{
    display: flex;
    justify-content: center;
}
#save{
    background-color: transparent;
    border: 4px solid yellow;
    border-radius: 5px;
    color: yellow;
    margin-left: 10px;
    font-size: 20px;
}
#delete-all{
    background-color: transparent;
    border: 4px solid yellow;
    border-radius: 5px;
    color: yellow;
    margin-left: 10px;
    font-size: 20px;
}
#movie-list-container > h1{
    display: flex;
    justify-content: center;
}
#movie-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
.movie-list-item {
    background-image: url("../img/filmcell2.png");
    background-size: auto;
    background-position: center;
    width: 250px;
    height: 163px;
    margin: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px 35px; */
}

.tv-list-item {
    background-image: url("../img/oldtv3.png");
    background-size: auto;
    background-position:center;
    width: 280px;
    height: 163px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px 40px; */
}

.movie-item-container {
    height: 133px;
    width: 180px;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    margin-right: 3px;
    border: white;
    border-radius: 8px;
    border-width: 2px;
}
.tv-item-container {
    height: 133px;
    width: 175px;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    margin-right: 50px;
}
.line1-container{ 
    text-align: center;  
    overflow-wrap: break-word;
    overflow: hidden;
    width: inherit;
}

.line1-container > h4{
    margin: 0px;
    margin-top: 5px;
}
.line2-container{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: baseline;
    width: inherit;
}
.line2-container > h4, h5{
    margin: 0px;
}
.score-container{
    display: flex;
    height: 20px;
    border-width: 1px;
    border: black;
    width: inherit;
}
.score-fill{
    background-color: rgb(69, 69, 105);
    width: 1.5px;
    margin-top: 2px;
}
.score-no-fill{
    background-color: rgb(188, 221, 229);
    width: 1.5px;
    margin-top: 2px;
}
.score-text{
    vertical-align: top;
    margin-right: 5px;
    margin-top: 0px;
}
p.score-text{
    display: flex;
    align-items: flex-start;
}